name: Generate VSIX

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20.x

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Pack Extension
        run: npx vsce package

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: "*.vsix"
